:root {
  --n-color-accent: #2CD889;

}

@media (max-width: 768px) {
  .stack {
    flex-direction: column;
  }
}

.layout {
  display: flex;
  justify-content: center;
  align-items: center;
}

.patient:hover {
  cursor: pointer;

}

.notification {
  color: var(--n-color-accent);
}

.item {
  cursor: pointer;
}

.spinner {
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  transform: translateX(-50%) translateY(-50%);
}