:root{
  --n-color-accent: #2CD889;

}
@media (max-width: 768px) {
  .stack {
    flex-direction: column;
  }
}

.layout {
  display: flex;
  justify-content: center;
  align-items: center;
}

.patient:hover {
  cursor: pointer;

}
.notification
{
  color: var(--n-color-accent);
}