.card {
  background-color: var(--n-color-surface);

}
.login_stack {
  inline-size: 90%;
  max-inline-size: 340px;
  margin: var(--n-space-xxl) auto;
  background-color: var(--n-color-background);
}
.password {
  position: relative;
}

.password a {
  text-decoration: none;
  font-size: var(--n-font-size-s);
  position: absolute;
  inset-block-start: 0;
  inset-inline-end: 0;
}

.header {
  background-color: var(--colorBody);
}
.logo
{
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.logo nord-avatar
{
 cursor: pointer;
}