:root {
    ----n-color-background: #E5E5E5;
    --n-color-accent: #2CD889;
    --n-color-status-highlight: #2CD889;
    --n-color-border: #2CD889;
    --n-avatar-color: white;
}

body {

    background-image: url('./assets/beauty.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    margin: 0;
}
a
{
    color: var(--n-color-accent);
}
.avatar
{
    background-color: white;
}